{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-regenerator"
  ]
}