.brochure {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 24px;
}

.brochure-title {
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px 0;
}

.brochure-book {
  box-sizing: border-box;
  position: relative;
}

.brochure-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 48px;
  z-index: 3;
}

.brochure-page {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  z-index: 1;
  user-select: none;
}

.brochure-mainpage {
  box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
  left: 50%;
}

.brochure-mainpage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(112,66,20, 0.06);
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.brochure-mainpage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.brochure-lastpage {
  box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
  left: 0;
}

.brochure-lastpage::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(112,66,20, 0.06);
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.brochure-lastpage::after {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.brochure-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.move-right {
  left: 0;
  perspective-origin: 50% 0%;
  transform-style: preserve-3d;
  transform-origin: 100% 50% 0px;
  backface-visibility: hidden;
  z-index: 1;
}

.flip-right {
  perspective-origin: 0% 50%;
  transform-origin: 0% 50% 0px;
  z-index: 2;
}

.move-left {
  perspective-origin: 0% 50%;
  transform-style: preserve-3d;
  transform-origin: 0% 50% 0px;
  backface-visibility: hidden;
  z-index: 1;
}

.flip-left {
  perspective-origin: 0% 50%;
  transform-origin: 100% 50% 0px;
  z-index: 2;
}
